doctype html
link(rel='stylesheet' href='css/student3.css')
head
    title Mayonnaise Expert (PhD) - Student 3
body
    h1 Student 3
    h2 Mayonnaise Expert (PhD)
    section
      h2 Location
      p Our university is located somewhere.
    section
      h2 About
      section
        h3 History of Mayonnaise
        p Explore the rich history of mayonnaise.
      section
        h3 Mayonnaise Applications
        p Dive deep into the many ways mayonnaise can be used
      section
        h3 Mayonnaise in Culture
        p Understand how mayonnaise has influenced cultures around the world.
    section
      h2 Things To Do
      ul
        li Develop innovative mayonnaise recipes
        li Conduct research on new mayonnaise applications
        li Teach workshops on mayonnaise artistry
