doctype html
link(rel='stylesheet' href='css/student3.css')
head
    title Snake Training (PhD) - Nicholas Bentley
body
    h1 Nicholas Bentley
    h2 Snake Training (PhD)
    section
      h2 Location
      p Our university is located somewhere deep in a jungle, interested applicants will have to pass a series of trials before finding the location.
    section
      h2 About
      section
        h3 History of Snake Training
        p At our university you can learn about all the rivetting history of snake training and how snake training has transformed the world itself.
      section
        h3 Snake Training Applications
        p At our university we will teach you how to train snakes and the different things you can train them for.
      section
        h3 Snake Training Impacts on Culture
        p Our university will cover in detail the unique history of snake training and the impact it has had on modern culture.
    section
      h2 Things To Do
      ul
        li Make friends with snakes
        li Tame snakes
        li Make the snakes do your bidding
    section
      h2 Gallery
      img(src='img/snake1.jpg' alt='Snake 1')
      img(src='img/snake2.jpg' alt='Snake 2')
    if comments && comments.length
      h2 Random Comments
      ul
        each comment in comments
          li= comment.comment
    p
      a(href='student3/comments') Comments Page