doctype html
link(rel='stylesheet' href='css/student2.css')

head
    title Potato Science (Masters) - student 2
body
    h1 Potato Science -- Brayden Bowen
    hr
    Section
        h2 Location
        p 
            | The campus is located on the International Space Station at a newly implemented Potato laboratory.
            br
            br
            img(src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.cuuTrj9Xx65m07cFXDbP9gAAAA%26pid%3DApi&f=1&ipt=a23a076274e72624bf0f131a3e42d4bc3f78740d10327ca987fb9e8a6e990a1b&ipo=images" alt="International Space Station")
    Section    
        h2 About 
        p 
            | Potato Science is very important as we wouldn't have french fries without it.
    Section 
        h2 Things To Do 
        ul 
            li Learn how to make french fries
            li Make more french fries
            li Make even more french fries