doctype html
link(rel='stylesheet' href='css/student1.css')

head
    title vinyls comment section - student1
body
    h1 Comment Section
    form(action='/addstudent1', method='POST' id='input')
        p
            label(for='comment') Enter Comment:   
            input#comment(type='text' name='comment' placeholder='Enter Comment Here...')
            br
            br
            input(type='submit' value='Submit Comment!')
    ul
    - for (let i = 0; i < comments.length; i++)
        li= comments[i].id + " " + comments[i].comment
        form(action="/deletestudent1", method="post")
            input(type="hidden", name="id" value=comments[i].id)
            input(type="submit", value="Delete")
        form(action='/editstudent1', method="post" )
            input(type="hidden", name = "id" value=comments[i].id)
            input(type='text' name='commentedit' placeholder='Edit Comment')
            input(type='submit', value="Submit")