doctype html
link(rel='stylesheet' href='css/student1.css')

head
    title vinyls - student1
body
    h1 B.A. in Overpriced Music Collecting
    section#location
        h2 Location
        p
            | This campus is located right in the heart of a New York attic, readily equipped
            | with all the equipment ready to host an indie rock concert. We have amps, drums, guitars,
            | more red solo cups that you can count, and dim colorful lights directly out of an
            | 80&apos;s film. This campus is ready for you to rock on 24/7!
        img(src='/img/campus1.png' alt='campus' id='campus')
    section#about
        h2 About
        section
            h3 You&apos;ll Learn How to Never Fully Financially Recover from a New Album Drop
            p You finally paid off your bills for the month, scraping to make sure there is
            | enough money to eat, then out of nowhere...BAM, the Arctic Monkeys release a surprise
            | album...FOR A LIMITED TIME!!!! You&apos;ll learn how to both not really afford this,
            | yet talk yourself into thinking you can.
        section
            h3 The Constant Itch to Buy an Album to Listen, Besides the Fact You Haven&apos;t Used a Turntable in Two Months
            p
            | You decide to take a stop at your local record store, just to see what&apos;s up. You
            | obviously know you are there to not leave empty handed, no matter what you tell
            | yourself, but finally, an album you have been wanting to listen to on that raw,
            | uncompressed sound on vinyl. You buy it, take it home, and then...you put it away.
        section
            h3 Everyone MUST Know Your Extensive Collection
            p
            | No matter what, this collection will become your life, your air. There is not
            | a person you meet that does not know you collect. You will learn different ways of
            | keeping the attention such as, mentioning how underground your listening is, showing
            | people your wall of vinyls that took longer that you want to admit to put up, and
            | how rare that one album you happened to get is.
        img(src='img/vinyls1.png' alt='vinyls' id='vinyls')
    section#ttd
        h2 Things To Do
        ul
            li Grow an everexpanding collection.
            li Learn the most underground of artists, just to learn they don&apos;t sell vinyls.
            li Contemplate if it is worth the extra 50 dollars to get the signed edition.
            li Look at your collection of unplayed records and realize how much money of value is sitting in one box.
            li Take an extensive amount more effort to put a record on a turntable, rather than just putting it on a speaker (You say you like how it sounds, but you really can&apos;t tell the difference).
    section#comments
        h2
            a(href= '/student1/comments') Comments (Click to Open Full Section)
        
